@tailwind base;
@tailwind components;
@tailwind utilities;


@tailwind base;
@tailwind components;
@tailwind utilities;

/* .rdt_TableHeadRow {
    @apply text-white from-green-400 to-green-600 bg-gradient-to-tr text-base;
    ;
} */

.rdt_TableHeadRow {
    @apply !bg-blue-gray-800 text-white border-blue-gray-50  md:text-base border
}

.rdt_TableRow {
    @apply md:!text-base
}

.rdt_TableCell {
    @apply border
}

.rdt_TableCol {
    @apply !border-blue-gray-50 border-[0.5px] border-b-0
}

.rdt_TableBody {
    @apply md:max-h-[420px] md:min-h-[300px] min-h-[200px] max-h-[220px] overflow-scroll
}


/* input size min width change */
div:has(>.min-w-130px) {
    min-width: 130px;
}

.rdt_TableCell div{
    white-space: normal!important;
}

.hbotQl{
    white-space: normal!important;
}

::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
